<html>
	<head>
		{% block head %}
			<title>designhawg</title>
		{% endblock head %}
		<!-- stylesheets -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<script src="{{ url_for('static', filename='js/vendor/modernizr.js')}}"></script>
		<script src="{{ url_for('static', filename='js/vendor/jquery.js')}}"></script>
		<script src="{{ url_for('static', filename='js/vendor/fastclick.js')}}"></script>
		<script src="{{ url_for('static', filename='js/foundation.min.js')}}"></script>
		<script src="{{ url_for('static', filename='js/foundation/foundation.offcanvas.js')}}"></script>
		<!-- atom feed -->
		<link href="{{ url_for('feed') }}"
			rel="alternate"
			title="Recent Changes"
			type="application/atom+xml">

	</head>
	<body>
		{% block content %}

		{% endblock content %}

		<script>
			$(document).foundation();
		</script>

	</body>
</html>
